/* Общие настройки */
* {
    box-sizing: border-box;
}

/* Оглавление */
h1 {
    text-align: center;
    color: rgb(204,0,0);
    font-size: 16px;
} 

/* Две сноски */
h3 {
    text-transform: uppercase;
    font-size: 13.3px;
    font-family: 'times new roman';
}

/* Нумерация глав */
h2 {
    text-align: center;
    color: red;
    font-size: 16px;
}

/* Параграф */
p {
    font-size: 13.3px;
}

body {
    background-color: rgb(255, 255, 224);
}

div {
    background-color: rgb(226, 231, 92);
    width: 300px;
    height: 300px;
    border-color: rgb(207, 6, 6);
    border-width: 5px;
    border-style: solid;
    border-top-color: rgb(1, 56, 255);
    /* padding: 10px 20px 30px 40px; */
    /* margin-top: 50px;
    margin-left: 50px; */
    display: inline-block;
}

.first {
    font-style: italic;
}
